body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color: #f39c12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.banner-container {
    overflow: hidden;
    white-space: nowrap;
    width: 150%;
    background-color: #111;
    margin-bottom: 30px;
}

.banner-scroll {
    display: inline-block;
    white-space: nowrap;
    animation: scrollBanner 30s linear infinite;
}

.banner-scroll img {
    height: 300px;
    margin-right: 0px;
    border-radius: 10px;
    width: 900px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.movie-section {
    padding: 20px;
}

.movie-section h2 {
    color: #f39c12;
    margin-bottom: 20px;
    text-align: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.movie img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.movie-title {
    padding: 10px;
    font-size: 1rem;
}